name: Manual Build & Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}

    steps:
      - name: Generate version
        id: version
        run: |
          VERSION="v1.0.$(date +'%Y%m%d%H%M')"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.version }}
          name: ${{ steps.version.outputs.version }}
          draft: false
          prerelease: false

  build:
    needs: release
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - name: alpine
            rid: linux-musl-x64
          - name: debian
            rid: linux-x64
          - name: archlinux
            rid: linux-x64
          - name: centos
            rid: linux-x64
          - name: windows
            rid: win-x64
          - name: macos
            rid: osx-x64

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Publish (${{ matrix.name }})
        run: |
          dotnet publish \
            -c Release \
            -r ${{ matrix.rid }} \
            --self-contained true \
            -p:PublishSingleFile=true \
            -p:PublishTrimmed=true \
            -o publish/${{ matrix.name }}

      - name: Package
        run: |
          cd publish
          zip -r AxarDB-${{ matrix.name }}.zip ${{ matrix.name }}

      - name: Upload asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.release.outputs.version }}
          files: publish/AxarDB-${{ matrix.name }}.zip
